<!-- Loop over each object in the projects array -->
<h2>Homepage View</h2>
{{#each techs as |tech| }}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <a href="/tech/{{tech.id}}">
        <h3>{{tech.title}}</h3>
      </a>
    </div>
    <div class="col-md-7">
      <p>
        Created on: {{format_date tech.date_created}}
      </p>
    </div>
  </div>
{{/each}}

